<div class="col-lg-4 col-md-4">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "my-3" }) do |f| %>
    <div class="field my-3">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field my-3">
      <%= f.label :password, class: "form-label" %><br />
      <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field my-3">
        <div class="form-check">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
